# Archivos de Maven
target/

# Eclipse
.project
.classpath
.settings/
# Eclipse Code Style y configuraciones
.codenarc
.checkstyle

# Archivos de IntelliJ IDEA
.idea/
*.iws
*.ipr
*.iml
out/

# Logs
logs/
*.log

# Archivos de compilación
build/
dependency-reduced-pom.xml

# Librerías y configuraciones de IDE específicos
bin/
.mvn/
mvnw
mvnw.cmd

# Archivos generados por Maven Wrapper
.mvn/
.wrapper/

# Archivos de configuración y temporales de prueba
*.tmp
test-output/


# Archivos de configuración de sistema
.env
.env.*

